##10001st prime
    
###Problem 7
###By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

###What is the 10 001st prime number?

In [0]:
import sympy
def prime_10001():
  i = 1
  current_prime = 2
  while i<10001:
    current_prime = sympy.nextprime(current_prime)
    #print(current_prime)
    i+=1
  return current_prime

In [14]:
print(prime_10001())

104743

In [4]:
print(sympy.nextprime(13))

17