##Sum square difference
   
###Problem 6
###The sum of the squares of the first ten natural numbers is,

###12+22+...+102=385
###The square of the sum of the first ten natural numbers is,

###(1+2+...+10)2=552=3025
###Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025âˆ’385=2640.

###Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [0]:
def sum_square_diff(first_natural_no):
  sum_of_no = 0
  sum_of_no_square = 0
  for i in range(1,first_natural_no+1):
    sum_of_no +=i
    sum_of_no_square += i**2
  return sum_of_no**2 - sum_of_no_square

In [7]:
print(sum_square_diff(100))

25164150